body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/* Enrollment */
section.enroll > div.row {
    display: flex;
}
section.enroll > div.row > article {
    align-items: stretch;
}
section.enroll > div.row > article.selected {
    background: yellow;
}
